<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.dictionary.data.mapper.DictTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.basic.dictionary.data.entity.DictType">
    <result column="id" property="id" />
        <result column="name_en" property="nameEn" />
        <result column="name_cn" property="nameCn" />
        <result column="system_category" property="systemCategory" />
        <result column="system_name" property="systemName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user" property="createUser" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user" property="updateUser" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name_en, name_cn, system_category, system_name, create_time, update_time,
        create_user_id, create_user, update_user_id, update_user, is_del
    </sql>

    <select id="pageList" resultMap="BaseResultMap" parameterType="com.basic.dictionary.data.entity.DictType">
        select
            <include refid="Base_Column_List"/>
        from
            data_dict_type
        where
        is_del = #{dictType.isDel}
        <if test="dictType.nameEn != null and dictType.nameEn != '' ">
          and  name_en = #{dictType.nameEn}
        </if>
        <if test="dictType.nameCn != null and dictType.nameCn != '' ">
            and  name_cn = #{nameCn}
        </if>
        <if test="dictType.systemCategory != null">
            and system_category = #{dictType.systemCategory}
        </if>
    </select>

</mapper>
