<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.dictionary.data.mapper.DictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.basic.dictionary.data.entity.Dictionary">
    <result column="id" property="id" />
        <result column="label" property="label" />
        <result column="data_dicionay_id" property="dataDicionayId" />
        <result column="data_value" property="dataValue" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user" property="createUser" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user" property="updateUser" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        label, data_dicionay_id, data_value, sort, create_time, update_time, create_user_id, create_user, update_user_id, update_user, is_del
    </sql>

    <select id="findByDataId" resultMap="BaseResultMap" parameterType="com.basic.dictionary.data.entity.Dictionary">
        select
            <include refid="Base_Column_List"/>
        from
            data_dictionary
        where
            is_del = #{isDel}
        and
            data_dicionay_id = #{dataDicionayId}
    </select>

</mapper>
